---
permalink: /404.html
layout: page
---
{% include header.html %}
<div class="loader">
  <div class="top-search">
      <div class="input-group">
          <span class="input-group-addon"><i class="ti-search"></i></span>
          <input type="text" class="form-control" placeholder="Search for snippets ......">
          <span class="input-group-addon close-search"><i class="ti-close"></i></span>
      </div>
  </div>
  <!-- /.End of Top Search -->
  <div class="error-content">
      <div class="container">
          <div class="row">
              <div class="col-md-12 ">
                  <div class="error-text">
                      <h1 class="error">404</h1>
                      <div class="sheep">
                          <div class="top">
                              <div class="body"></div>
                              <div class="head">
                                  <div class="eye one"></div>
                                  <div class="eye two"></div>
                                  <div class="ear one"></div>
                                  <div class="ear two"></div>
                              </div>
                          </div>
                          <div class="legs">
                              <div class="leg"></div>
                              <div class="leg"></div>
                              <div class="leg"></div>
                              <div class="leg"></div>
                          </div>
                      </div>
                      <h4>Oops! This page Could Not Be Found!</h4>
                      <p>Sorry, but the page you are looking for does not exist, It may have been removed or the link may have been changed.</p>
                      <a href="{{site.baseurl}}/index" class="btn btn-primary btn-round">Go to homepage</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /.End of error content -->
{% include footer.html %}