<nav class="navbar navbar-expand-lg navbar-light fixed-top">

    <a class="navbar-brand" href="/">

        <img src="{{ site.baseurl }}/assets/img/logo.png" alt="">

    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" id="sidebarCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    Docs 

                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">

                    <a class="dropdown-item" href="/syllabus">Syllabus</a>

                    <a class="dropdown-item" href="/design/photoshop/photoshop-intro">Study Material</a>

                    <a class="dropdown-item" href="/resourses">Resourses</a>
                    <a class="dropdown-item" href="/box_model">Box Model</a>
                    <a class="dropdown-item" href="https://docs.learncomputer.in/scrollbar/">Scrollbar App</a>
                    <a class="dropdown-item" href="https://docs.learncomputer.in/gradient/">Gradient Generator</a>
                </div>

            </li>

            <li class="nav-item">

                <a class="nav-link" href="/contact" id="navbarDropdown3" role="button">

                    Contact 

                </a>

            </li>  

            <li class="nav-item">

                <a class="nav-link" href="https://code.learncomputer.in/" id="navbarDropdown3" role="button" target="_blank">

                    Code Editor 

                </a>

            </li>

            <li class="nav-item">

                <a class="nav-link" href="https://www.learncomputer.in" id="navbarDropdown3" role="button">

                    LCA website 

                </a>

            </li>                        

        </ul>

    </div>

</nav>