<nav class="navbar navbar-expand-lg navbar-light fixed-top no-background">

    <div class="container">

        <a class="navbar-brand" href="/">

            <img src="{{ site.baseurl }}/assets/img/logo.png" alt="" class="logo-dark">

            <img src="{{ site.baseurl }}/assets/img/logo-white.png" alt="" class="logo-white">

        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown <?= ($activePage == 'resourses') ? 'active': ''; ?>">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        Docs 

                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">

                        <a class="dropdown-item" href="{{ site.baseurl }}/syllabus">Syllabus</a>

                        <a class="dropdown-item" href="{{ site.baseurl }}/design/photoshop/photoshop-intro">Study Material</a>

                        <a class="dropdown-item" href="{{ site.baseurl }}/resourses">Resourses</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/box-model">Box Model</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/box-shadow-generator">Box Shadow</a>
                        <a class="dropdown-item" href="https://docs.learncomputer.in/scrollbar/">Scrollbar App</a>
                        <a class="dropdown-item" href="https://docs.learncomputer.in/gradient/">Gradient Generator</a>

                    </div>

                </li>

                <li class="nav-item">

                    <a class="nav-link" href="{{ site.baseurl }}/contact" id="navbarDropdown3" role="button">

                        Contact 

                    </a>

                </li>  

                <li class="nav-item">

                    <a class="nav-link" target="_blank" href="https://www.learncomputer.in" id="navbarDropdown3" role="button">

                        LCA website 

                    </a>

                </li>                                                                      

            </ul>

        </div>

    </div>

</nav>