<nav id="sidebar">

    <div class="sidebar-header">

        <h3><i class="fas fa-tachometer-alt"></i><span>Docs</span></h3>

        <div class="dropdown version">

            <a class="ver-drop" href="#" role="button" id="versionDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                v1.1.0

            </a>

        </div>

        <!-- /.Actual search box -->

    </div>

    <ul class="metismenu sidebarMenu list-unstyled" id="metismenu">

        <li><a href="JavaScript:Void(0);" style="font-weight: 700; color: #1863d4;"><i class="fas fa-book"></i> &nbsp;STUDY MATERIAL</a></li>



        <li class="active">

            <a class="has-arrow" href="#" aria-expanded="true" style="color: #1863d4!important;">Tutorial</a>

            <ul>

                <li><a href="/basic/basic-computer">Fundamentals of Computer</a></li>

                <li>

                    <a class="has-arrow" href="JavaScript:Void(0);" aria-expanded="true">Photoshop</a>

                    <ul>

                        <li><a href="#" class="has-arrow" aria-expanded="true">Tools</a>

                            <ul aria-expanded="true">

                                <li><a href="/design/photoshop-intro">Introduction</a></li>

                                <li><a href="/design/photoshop-toolbar">Toolbar</a></li>

                                <li><a href="/design/photoshop-selection-tools">Selection Tools</a></li>

                                <li><a href="/design/photoshop-alteration-tools">Alteration Tools</a></li>

                                <li><a href="/design/photoshop-drawing-selection-tools">Drawing Tools</a></li>

                                <li><a href="/design/photoshop-additional-tools">Additional Tools</a></li>

                                <li><a href="/design/photoshop-color-boxes">Color Boxes and Modes</a></li>

                                <li><a href="/design/photoshop-layers">Layer</a></li>

                                <li><a href="/design/photoshop-resizing">Resizing</a></li>

                                <li><a href="/design/photoshop-saving">Saving</a></li>

                                <li><a href="/design/photoshop-shortcut-keys">Shortcut Keys</a></li>

                            </ul>

                        </li>

                    </ul>

                </li>

                <li><a class="has-arrow" href="#" aria-expanded="true">HTML</a>

                    <ul aria-expanded="true">

                        <li><a href="/html/html-intro">Introduction</a></li>

                        <li><a href="/html/html-basic">Basic</a></li>

                        <li><a href="/html/html-attributes">Attributes</a></li>

                        <li><a href="/html/html-comments">Comments</a></li>

                        <li><a href="/html/html-links">Links</a></li>

                        <li><a href="/html/html-images">Images</a></li>

                        <li><a href="/html/html-tables">Tables</a></li>

                        <li><a href="/html/html-lists">Lists</a></li>

                        <li><a href="/html/html-blocks">Blocks</a></li>

                        <li><a href="/html/html-classes">Classes</a></li>

                        <li><a href="/html/html-id">Id</a></li>

                        <li><a href="/html/html-iframes">Iframes</a></li>

                        <li><a href="/html/html-filepaths">File Paths</a></li>

                        <li><a href="/html/html-head">Head</a></li>

                        <li><a href="/html/html-responsive">Responsive</a></li>

                        <li><a href="/html/html-forms">Forms</a></li>

                        <li><a href="/html/html-form-elements">Form Elements</a></li>

                        <li><a href="/html/html-form-input-types">Input Types</a></li>

                        <li><a href="/html/html-form-attributes">Input Attributes</a></li>

                        <li><a class="has-arrow" href="#" aria-expanded="true">HTML 5</a>
                            <ul>
                                <li><a href="/html/html5-intro">Intro</a></li>
                                <li><a href="/html/html5-new-elements">New Elements</a></li>
                                <li><a href="/html/semantic-elements">Semantic Elements</a></li>
                                <li><a href="/html/tag-article">&lt;article></a></li>
                                <li><a href="/html/tag-aside">&lt;aside></a></li>
                                <li><a href="/html/tag-figcaption">&lt;figcaption></a></li>
                                <li><a href="/html/tag-figure">&lt;figure></a></li>
                                <li><a href="/html/tag-footer">&lt;footer></a></li>
                                <li><a href="/html/tag-header">&lt;header></a></li>
                                <li><a href="/html/tag-main">&lt;main></a></li>
                                <li><a href="/html/tag-mark">&lt;mark></a></li>
                                <li><a href="/html/tag-nav">&lt;nav></a></li>
                                <li><a href="/html/tag-section">&lt;section></a></li>                                
                                <li><a href="/html/tag-video">&lt;video></a></li>                                
                                <li><a href="/html/tag-audio">&lt;audio></a></li>                                
                                <li><a href="/html/tag-youtube">HTML YouTube</a></li>                                
                            </ul>
                        </li>

                    </ul>

                </li>

                <li><a class="has-arrow" href="#" aria-expanded="true">CSS</a>

                    <ul aria-expanded="true">                   

                        <li><a href="/css/css-intro">Introduction</a></li>

                        <li><a href="/css/css-syntax">Syntax</a></li>

                        <li><a href="/css/css-howto">How To</a></li>

                        <li><a href="/css/css-colors">CSS Colors</a></li>

                        <li><a href="/css/css-background">CSS Backgrounds</a></li>

                        <li><a href="/css/css-border">CSS Border</a></li>

                        <li><a href="/css/css-margin">CSS Margins</a></li>

                        <li><a href="/css/css-padding">CSS Padding</a></li>       

                        <li><a href="/css/css-dimension">CSS Dimensions</a></li>

                        <li><a href="/css/css-boxmodel">CSS Box Model</a></li>

                        <li><a href="/css/css-outline">CSS Outline</a></li>

                        <li><a href="/css/css-text">CSS Text</a></li>

                        <li><a href="/css/css-font">CSS Font</a></li>

                        <li><a href="/css/css-icons">CSS Icons</a></li>

                        <li><a href="/css/css-link">CSS Links</a></li>

                        <li><a href="/css/css-list">CSS List</a></li>

                        <li><a href="/css/css-table">CSS Tables</a></li>

                        <li><a href="/css/css-display-visibility">CSS Display</a></li>

                        <li><a href="/css/css-max-width">CSS Max width</a></li>

                        <li><a href="/css/css-positioning">CSS Position</a></li>

                        <li><a href="/css/css-overflow">CSS Overflow</a></li>

                        <li><a href="/css/css-float">CSS Float</a></li>

                        <li><a href="/css/css-inline-block">CSS Inline</a></li>

                        <li><a href="/css/css-align">CSS Align</a></li>

                        <li><a href="/css/css-combinators">CSS Combinators</a></li>

                        <li><a href="/css/css-pseudo-classes">CSS Pseudo Classes</a></li>

                        <li><a href="/css/css-pseudo-elements">CSS Pseudo Elements</a></li>

                        <li><a href="/css/css-image-transparency">CSS Opacity</a></li>

                        <li><a href="/css/css-navbar">CSS Navigation Bar</a></li>

                        <li><a href="/css/css-dropdowns">CSS Dropdowns</a></li>

                        <li><a href="/css/css-form">CSS Forms</a></li>

                        <li><a href="/css/css-units">CSS Units</a></li>

                        <li><a href="/css/css-specificity">CSS Specificity</a></li>

                    </ul>

                </li>

                <li><a href="#" class="has-arrow" aria-expanded="true">JavaScript</a>
                    <ul aria-expanded="true">
                        <li><a href="/javascript/javascript-intro">Introduction</a></li>
                        <li><a href="/javascript/javascript-basics">Basics</a></li>
                        <li><a href="/javascript/javascript-control-flow">Control Flow</a></li>
                        <li><a href="/javascript/javascript-functions">Functions</a></li>
                        <li><a href="/javascript/javascript-objects">Objects</a></li>
                        <li><a href="/javascript/javascript-arrays">Arrays</a></li>
                        <li><a href="/javascript/javascript-strings">Strings</a></li>
                        <li><a href="/javascript/javascript-math-and-numbers">Math and Numbers</a></li>
                        <li><a href="/javascript/javascript-dates">Dates</a></li>
                        <li><a href="/javascript/javascript-events">Events</a></li>
                        <li><a href="/javascript/javascript-dom">DOM</a></li>
                    </ul>
                </li>

                <li><a href="https://www.w3schools.com/jquery/default.asp" target="_blank">JQuery</a></li>

                <!-- <li><a href="#" class="has-arrow" aria-expanded="true">React JS</a>
                    <ul aria-expanded="true">
                        <li><a href="/react/react-syllabus">Introduction</a></li>
                    </ul>
                </li> -->

                <!-- <li><a class="has-arrow" href="#" aria-expanded="true">How To Design</a>
                    <ul>
                        <li><a href="/howto/banner-design">Banner Design</a></li>
                        <li><a href="/howto/shrink-menu">Shrink Menu</a></li>
                        <li><a href="/howto/simple-btn">Simple CTA Button</a></li>
                        <li><a href="/howto/curtain-menu">Curtain Menu</a></li>
                        <li><a href="/howto/sidebar-menu">Sidebar Menu</a></li>
                        <li><a href="/howto/full-menu">Full Screen Menu</a></li>
                        <li><a href="/howto/glowing-icons">Glowing Icons</a></li>
                        <li><a href="/howto/tabs">Tabs</a></li>
                        <li><a href="/howto/basic-form">Form</a></li>
                        <li><a href="/howto/sign-in-form">Sign In Form</a></li>
                        <li><a href="/howto/404page">404 Page</a></li>
                    </ul>
                </li> -->

            </ul>

        </li>

    </ul>

</nav>