

<style>

    .mark {

                background-color: #d7ffe7 !important

            }



            .mark .gsearch{

                font-size: 20px

            }





            .unmark {

                background-color: #e8e8e8 !important

            }

            .unmark .gsearch{

                font-size: 10px

            }



            .si{

                font-weight: bold;

                color: red;

            }



            .simple{

                padding: 10px;

                margin: 10px;

                background-color: #b9d5ec

            }



</style>

<nav id="sidebar">

    <div class="sidebar-header">

        <h3><i class="fas fa-tachometer-alt"></i><span>Docs</span></h3>

        <div class="dropdown version">

            <a class="ver-drop" href="#" role="button" id="versionDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                v1.1.0

            </a>

        </div>

<!--         <div class="form-group has-search">

            <span class="ti-search form-control-feedback"></span>

            <input type="text" class="form-control" placeholder="Search docs ..." id="gsearch2">

        </div> -->

        <!-- /.Actual search box -->

    </div>



    <ul class="metismenu sidebarMenu list-unstyled">

        <li><a href="JavaScript:Void(0);" style="font-weight: 700; color: #1863d4;"><i class="fas fa-book"></i> &nbsp;SYLLABUS</a></li>
        <li><a href="/basic/basic-computer">Fundamentals of Computer</a></li>

        <li class="">

            <a class="" href="/design/photoshop-syllabus" aria-expanded="true">Photoshop</a>

        </li>

        <li>

            <a class="has-arrow" href="JavaScript:Void(0);" aria-expanded="true">Graphics Design</a>

            <ul aria-expanded="true">

                <li><a href="/design/graphics-design-intro" aria-expanded="true">

                    Introduction

                </a></li>

                <li><a href="JavaScript:Void(0);" class="has-arrow" aria-expanded="true">Poster Design</a>

                    <ul aria-expanded="true">

                        <li><a href="/design/graphics-design-poster">Exercise</a></li>

                    </ul>

                </li>

                <li><a href="JavaScript:Void(0);" class="has-arrow" aria-expanded="true">Flyer Design</a>

                    <ul aria-expanded="true">

                        <li><a href="/design/graphics-design-flyer">Exercise</a></li>

                    </ul>

                </li> 

                <li><a href="JavaScript:Void(0);" class="has-arrow" aria-expanded="true">Brochure Design</a>

                    <ul aria-expanded="true">

                        <li><a href="/design/graphics-design-brochure-intro">Introduction</a></li>

                        <li><a href="/design/graphics-design-brochure-exercise">Exercise</a></li>

                    </ul>

                </li> 

                <li><a href="JavaScript:Void(0);" class="has-arrow" aria-expanded="true">Visiting Card Design</a>

                    <ul aria-expanded="true">

                        <li><a href="/design/graphics-design-visiting-card-intro">Introduction</a></li>

                        <li><a href="/design/graphics-design-visiting-card-exercise">Exercise</a></li>

                    </ul>

                </li>

                <li><a href="JavaScript:Void(0);" class="has-arrow" aria-expanded="true">Menu Design</a>

                    <ul aria-expanded="true">

                        <li><a href="/design/graphics-design-menu-exercise">Exercise</a></li>

                    </ul>

                </li>                                                          

                <li><a href="JavaScript:Void(0);" class="has-arrow" aria-expanded="true">UI Design</a>

                    <ul aria-expanded="true">

                        <li><a href="/design/graphics-design-ui-exercise">Exercise</a></li>

                    </ul>

                </li>          

            </ul>

        </li>



        <li class="">

            <a class="has-arrow" href="JavaScript:Void(0);" aria-expanded="true">Design Theory</a>

            <ul aria-expanded="true">

                <li><a href="/design/color-theory">Color Theory</a></li>

                <li><a href="/design/color-in-design">Color in Design</a></li>

            </ul>

        </li>



        <li>

            <a class="has-arrow" href="JavaScript:Void(0);" aria-expanded="true">Typography</a>

            <ul aria-expanded="true">

                <li class="active"><a href="/design/typography">Basics of Type</a></li>

            </ul>

        </li>



        <li>

            <a class="has-arrow" href="JavaScript:Void(0);" aria-expanded="true">Website Design</a>

            <ul aria-expanded="true">

                <li class="active"><a href="/design/web-design">Exercise</a></li>

            </ul>

        </li>



        <li>

            <a class="has-arrow" href="JavaScript:Void(0);" aria-expanded="true">Front-end Development</a>

            <ul aria-expanded="true">

                <li><a href="/html/html-syllabus">HTML</a></li>

                <li><a href="/css/css-syllabus">CSS</a></li>

                <li><a href="/javascript/js-syllabus">Javascript</a></li>

                <li><a href="/javascript/jquery">JQuery</a></li>

            </ul>

        </li>



        <li>

            <a class="has-arrow" href="JavaScript:Void(0);" aria-expanded="true">CSS Framework</a>

            <ul aria-expanded="true">

                <li><a href="/css/bootstrap">Bootstrap</a></li>

            </ul>

        </li>



        <li>

            <a class="has-arrow" href="JavaScript:Void(0);" aria-expanded="true">Advance Javascript</a>

            <ul aria-expanded="true">

                <li><a href="JavaScript:Void(0);"><span class="menu-badge">Coming Soon!</span></a></li>

            </ul>

        </li> 

    </ul>



</nav>

<!-- /.End of Sidebar Holder -->