<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="noindex" />
        <meta name="theme-color" content="#0054D1">
        {% include header.html %}
    </head>
    <body>
    
    {% include nav.html %}

    {{ content }}  <!-- The content from index.markdown appears here -->


    {% include footer.html %}

</body>
</html>
