<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    {% include header.html %}

</head>
<body>
<style>
    .technology-img{ padding: 0; margin: 0; }
    .technology-img a img{ transition: all .3s ease-in-out; }
    .technology-img:hover a img{ transform: scale(1.2); } 
</style>



<!-- Main content -->
<main>
    {{ content }}
</main>

<!-- Footer -->
{% include footer.html %}

</body>
</html>




<!-- Header Start -->
{% include nav.html %}


        <div class="loader">
            <!-- Navigation Start -->
            <?php include './includes/innerpage-navigation.php'; ?>
            <!-- /.End of Navbar -->
            
            <!-- Start Sidebar -->
            <?php include './includes/sidebar-syllabus.php'; ?>
            <!-- /.End of Sidebar -->
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-9 content">
                            <!-- Your content goes started here -->
                            <div class="doc-content">
                                <h1>Our Syllabus</h1>
                                <hr>
                            <div class="col-md-10 offset-md-1 py-5">
                                <div class="row">
                                    <div class="col max-col">
                                        <div class="technology-img text-center">
                                            <a href="https://docs.learncomputer.in/design/photoshop/photoshop-syllabus" title="Photoshop"><img src = "/assets/img/loadingimg.gif" data-src="assets/img/logo/photoshop.png" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col max-col">
                                        <div class="technology-img text-center">
                                            <a href="https://docs.learncomputer.in/html/html-syllabus" title="HTML 5"><img src = "/assets/img/loadingimg.gif" data-src="assets/img/logo/html-5.png" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col max-col">
                                        <div class="technology-img text-center">
                                            <a href="https://docs.learncomputer.in/css/bootstrap" title="Bootstrap"><img src = "/assets/img/loadingimg.gif" data-src="assets/img/logo/bootstrap-stack.png" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col max-col">
                                        <div class="technology-img text-center">
                                            <a href="https://docs.learncomputer.in/css/css-intro" title="CSS"><img src = "/assets/img/loadingimg.gif" data-src="assets/img/logo/css.png" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col max-col">
                                        <div class="technology-img text-center">
                                            <a href="https://cdnjs.com/libraries/normalize" title="Normalize CSS"><img src = "/assets/img/loadingimg.gif" data-src="assets/img/logo/normalize-css.png" class="img-fluid" alt=""></a>
                                        </div>
                                    </div> 
                                    <div class="col max-col">
                                        <div class="technology-img text-center">
                                            <a href="https://sass-lang.com/" title="SASS"><img src = "/assets/img/loadingimg.gif" data-src="assets/img/logo/Sass.png" class="img-fluid" alt=""></a>
                                        </div>
                                    </div>
                                    
                                    <div class="col max-col">
                                        <div class="technology-img text-center">
                                            <a href="https://docs.learncomputer.in/javascript/js-syllabus" title="JavaScript"><img src = "/assets/img/loadingimg.gif" data-src="assets/img/logo/javascript.png" class="img-fluid" alt=""></a>
                                        </div>
                                    </div> 
                                    <div class="col max-col">
                                        <div class="technology-img text-center">
                                            <a href="https://docs.learncomputer.in/javascript/jquery" title="JQuery"><img src = "/assets/img/loadingimg.gif" data-src="assets/img/logo/jquery-logo.png" class="img-fluid" alt=""></a>
                                        </div>
                                    </div> 
                                    
                                </div>
                            </div>
                        <div class="inner-container">
                            <div class="row code-collaboration align-items-center justify-content-between py-5">
                                <div class="col-md-7">
                                    <div class="feature-img">
                                        <img src="./assets/img/loadingimg.gif" data-src="assets/img/extended-feature4.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="text-block">
                                        <h6 class="heading-sm">Design</h6>
                                        <!-- <h3>Deploy often with built-in continuous delivery</h3> -->
                                        <h3>Graphics Design and Web Design</h3>
                                        <ul>
                                            <li>Our beginner friendly DOCS contains in depth description for Graphics Design. Step into the World of 2D graphics today.</li>
                                            <li>Start learning the tools and tricks of Photoshop to get started.</li>
                                            <li>Learn- Branding, Color Theory, Typography, Photo Editing, Mixing and much much more.</li>
                                        </ul>
                                        <hr>
                                        <blockquote class="blockquote quote-text">
                                            <p class="mb-0">“I strive for two things in design: simplicity and clarity. Great design is born of those two things.”</p>
                                            <cite class="quote-attribution">Lindo Leader, graphic designer and creator of the FedEx logo</cite>
                                        </blockquote> 
                                    </div>
                                </div>
                            </div>
                            <div class="row code-collaboration align-items-center justify-content-between py-5">
                                <div class="col-md-7">
                                    <div class="feature-img">
                                        <img src="./assets/img/loadingimg.gif" data-src="./assets/img/extended-feature5.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-md-5 order-md-first order-last">
                                    <div class="text-block">
                                        <h6 class="heading-sm">Development</h6>
                                        <h3>Front-End Development</h3>
                                        <ul>
                                            <li>Step into the World of front-end Development with the basics of HTML, CSS and Javascript. Learn the basics of how Websites work.</li>
                                            <li>Design and build websites faster and easily using front-end frameworks such as Bootstrap and Foundation.</li>
                                            <li>Add automation, animations and interactivity to Web pages using Javascript and its frameworks.</li>
                                        </ul>
                                        <hr>
                                        <p>Front End Development skills are needed by nearly every single business in the world to communicate to customers. By the end of your lessons, you’ll have all the skills required to design and build websites to start a career with one of the thousands of Web Design Companies.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>
                            <!-- /.Your content ends here -->
                            <div class="footer-btn d-flex justify-content-end">
                              <!--   <a href="#" class="btn"><i class="fas fa-arrow-circle-left"></i>Previous</a> -->
                                <a href="./design/photoshop/photoshop-syllabus" class="btn">Next<i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                            <!-- /.End of footer button -->
                        </div>
                        <!-- Right Sidebar Start-->
                        <?php include 'includes/right-sidebar-innerpage.php'; ?>
                        <!-- Right-Sidebar End -->
                    </div>
                </div>
                <script>
                let imgs = document.querySelectorAll('.img-fluid');
                setTimeout(function(){
                    imgs.forEach(function(e){
                        e.src = e.getAttribute("data-src");
                    })
                },5000);
                
            </script>
<!-- Footer Start -->
<?php include './includes/footer.php'; ?>
