<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    {% include header.html %}

</head>
<body>
<style>
    .technology-img{ padding: 0; margin: 0; }
    .technology-img a img{ transition: all .3s ease-in-out; }
    .technology-img:hover a img{ transform: scale(1.2); } 
</style>

<!-- Header Start -->
{% include nav.html %}

<!-- Main content -->
<main>
    {{ content }}
</main>

<!-- Footer -->
{% include footer.html %}

</body>
</html>




